
body {
  background-color: #eee;
  font-family: Arial;
}

#container {
  margin-top: 50px;
}

#persons-container {
  width: 660px;
  margin: 50px auto;
}

h2 {
  text-align: center;
}

p.msg {
  color: #ccc;
  text-align: center;
  margin-top: 100px;
}

.person-item {
  position: absolute;
  background-color: #fff;
  width: 200px;
  margin: 10px;
}

.person-item img {
  width: 200px;
  height: 200px;
}

.person-item p {
  text-align: center;
}

#persons-container.contains-1 .person-item {
  width: 96%;
  margin: 2%;
  height: auto;
}

#persons-container.contains-2 .person-item {
  width: 46%;
  margin: 2%;
  height: auto;
}

#persons-container.contains-1 .person-item img,
#persons-container.contains-2 .person-item img {
  width: 100%;
  height: auto;
}

#persons-container[class*='contains-'] p.msg {
  display: none;
}